/* for default-order */
.default-order {display: flex; margin-left: -20px}
.default-order > div {padding-left: 20px}

@media (max-width: 960px) {
    .default-order {
        flex-wrap: wrap
    }
}

.default-order textarea,
.default-order input {font-size: 14px; font-weight: 400; color: #363636; font-family: Roboto}
.default-order textarea::placeholder,
.default-order input::placeholder {color: #bbb !important; font-size: 14px; font-weight: 400; font-family: Roboto}

.radio-label {display: flex; align-items: center; padding: 10px 10px; box-sizing: border-box;
    border: 1px solid #E7E7E7; border-radius: 5px; min-height: 40px; cursor: pointer; transition: 0.3s; font-size: 14px; font-width: 400;}
.radio-label span {color: #999}
.radio-label input {margin-top: 0; margin-bottom: 0}
.radio-label.check {border-color: #EC008C }
.radio-label.check span {color: #222}
.radio-label:hover {border-color: #EC008C }
.vertical .radio-label:not(:first-child) {margin-top: 10px;}

.input-label {display: flex; /*border: 1px solid #e7e7e7; */border-radius: 5px; box-sizing: border-box;}
.input-label input[type=text] {border: 0; border: 1px solid #e7e7e7; border-radius: 5px; padding: 5px 10px; box-sizing: border-box; width: 100%; outline-width: 0; height: 40px}
.input-label input[type=text]:focus {border-color: #80BDFF; box-shadow: none;}
.input-label select {box-sizing: border-box; border: 1px solid #e7e7e7; border-radius: 5px; padding: 5px 10px; width: 100%; height: 40px; background: #FFF}

.choose-label {border: 1px solid #e7e7e7; border-radius: 5px; padding: 10px; width: max-content; background: #FFF}
.choose-label span {font-size: 14px; font-weight: 400; color: #30408E}

.widget {border: 1px solid #E7E7E7; /*border-radius: 5px; */ box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
.default-order .fields {display: flex; flex-flow: column}

.widget .section {border-bottom: 1px dashed #E0E0E0; padding-bottom: 15px}
.widget .section .widget-heading {border-bottom: 1px solid #E7E7E7; padding: 10px 20px; color: #30408E}
.widget .section .section-heading {padding: 10px 20px; color: #30408E}
.widget .fields {padding: 0 20px}
.widget .fields label { margin-top: 10px; }
.widget .fields label input {margin-left: auto; pointer-events: none}
@media (max-width: 960px) {
    /*.widget {position: relative !important;}*/
}

.widget-products {padding: 20px 20px 15px}
.widget-products .product {display: flex; font-size: 14px; font-weight: 400; color: #666}
.widget-products .product:not(:last-child) {border-bottom: 1px dashed #E0E0E0; margin-bottom: 10px; padding-bottom: 10px;}
.widget-products .product .name {flex: 4}
.widget-products .product .count { border-radius: 5px; width: max-content; height: max-content; padding: 0 8px; background: #F1F1F1;}
.widget-products .product .price {flex: 2; text-align: right}

.widget-amount {border-top: 2px solid #E7E7E7; margin: 0 20px; padding-top: 10px; display: flex; font-size: 16px; font-weight: 400}
.widget-amount div:last-child{margin-left: auto; font-size: 18px; font-weight: 700; color: #222}

.order-form {}

.order-form .section {}
.order-form .section.order-receiver {border: 1px solid #C5C5C5; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1); background: #FFF}
.order-form .section-heading {padding: 20px; font-size: 18px; font-weight: 400; color: #222}
.order-form .sector {border-top: 1px dashed #e7e7e7; padding: 30px 0}

.order-form .section-heading:before {box-sizing: border-box; padding: 10px 10px 10px 0; vertical-align: middle}
#reserverInfo::before {content: url(../assets/reserver.svg);}
#reserving::before {content: url(../assets/reserveTruck.svg);}

.order-form .sector .area {padding: 0 20px}
.order-form .sector .area .item {display: flex; align-items: flex-start; margin-bottom: 15px}
.order-form .sector .area .item.choice-matters .fields{display: flex; flex-wrap: wrap; flex-flow: wrap; gap: 10px; width: auto; max-width: 410px}
/*.order-form .sector .area .item:not(:last-child) {margin-bottom: 20px}*/
.order-form .sector .area .item-label {margin-top: 9px; min-width: 130px; text-align: right; font-size: 14px; font-weight: 400; color: #222}
.order-form .sector .area .item-label.danger {color: #EE1F52}

.order-form .sector .area .fields {padding-left: 10px; width: 300px; max-width: 300px}
.order-form .sector .area .fields.text-area {overflow: hidden; width: 410px; max-width: 410px;}
.order-form .sector .area .fields.text-area textarea {border: 1px solid #e7e7e7; border-radius: 5px; box-sizing: border-box;
    padding: 10px; width: 100%; max-width: 410px; resize: vertical; outline-width: 0;}

.choice-matters .fields {display: flex; flex-wrap: wrap; flex-flow: wrap; gap: 10px; width: auto; max-width: unset}
.choice-matters .fields label {cursor: pointer}

.interact-section {padding: 20px}
.interact-section button.interact-section__button {}
.interact-section .interact-section__button {display: flex; border: 2px solid #EC008C; border-radius: 5px; box-sizing: content-box; padding: 10px 20px; justify-content: center; align-items: center; font-size: 16px; transition: 0.3s}
.interact-section .interact-section__button:not(:first-child) {margin-top: 10px}
.interact-section .interact-section__button.do-next {background: #EC008C; font-weight: 700; color: #FFF}
.interact-section .interact-section__button.do-prev {border: 1px solid #e7e7e7; font-weight: 400; color: #363636}
.interact-section .interact-section__button:hover {background-color: #FFF; color: #EC008C;}
/* end of default-order */
